@font-face {
  font-family: 'SansBlackSmall';
  src: url('/fonts/sansblacksmall.eot');
  src: url('/fonts/sansblacksmall.eot?#iefix') format('embedded-opentype'),
	   url('/fonts/sansblacksmall.woff') format('woff'),
       url('/fonts/sansblacksmall.ttf') format('truetype'),
       url('/fonts/sansblacksmall.svg#SansBlackSmall') format('svg');
}

@font-face {
  font-family: 'Antonio-Regular';
  src: url('/fonts/Antonio-Regular.eot');
  src: url('/fonts/Antonio-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Antonio-Regular.woff') format('woff'),
       url('/fonts/Antonio-Regular.ttf') format('truetype'),
       url('/fonts/Antonio-Regular.svg#Antonio-Regular') format('svg');
}

@font-face {font-family: 'PT Sans Narrow';
	src: url('/fonts/ptn57f_w.eot');
	src: local('/fonts/PT Sans Narrow'), url('/fonts/PTN57F_W.woff') format('woff'),url('/fonts/PTN57F_W.ttf') format('truetype'), url('/fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: url('/fonts/ptn77f_w.eot');
	src: local('/fonts/PT Sans Narrow Bold'), url('/fonts/PTN77F_W.woff') format('woff'),url('/fonts/PTN77F_W.ttf') format('truetype'), url('/fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
	--dark-red: #631D0E;
	--bgColor: #d4cdb1;
  --darkcolor: #631d0e;
  --lightcolor: #eadeb5;
  --lightcolor: #cbbe90;
}

body {
	background-color: var(--bgColor);
	margin: 0;
	padding: 0;
	background-image: 
		url(/images/square-bg.svg), 
		radial-gradient(circle, white, #0003),
		linear-gradient(to bottom, #f5c91a45 0%,#9c926b 48%,#438589 100%), 
		url(/images/grungy-paper.jpg);
	background-size: 12px, cover, cover, cover;
	background-repeat: repeat, no-repeat, no-repeat, no-repeat;
	background-blend-mode: normal, multiply, multiply, normal;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}	
table {
	max-width: 1500px;
	/* max-height: 90vh; */
	/* width: 97%; */
	width: 100%;
	border-spacing: .4em;
	margin: 2em auto;
	table-layout: fixed; /* keeps cells the same size provided the table width is specified */
	align-self: self-start;
	mix-blend-mode: normal;
	mix-blend-mode: hard-light;
}
td {
	--shadowColor: #a0956f;
	border:solid 2px var(--darkcolor);
	border-radius: 2px;
	/* max-height: 2vh; */
	/* width: 4vw; */
	color: var(--darkcolor);
	font-family: 'SansBlackSmall', impact, sans-serif;
	font-size: 2.4vw;
	font-size: clamp(0.9375rem, -0.25rem + 3.8vw, 3.3125rem);
	text-align: center;
	text-shadow: 1.5px 1.5px 0px var(--lightcolor), 2.5px 2.5px var(--darkcolor);
	background: var(--lightcolor)aa;
	box-shadow: inset 10px 10px 15px #B7B091, inset -10px -10px 15px #B7B091;
	box-shadow: inset 10px 10px 15px var(--shadowColor), inset -10px -10px 15px var(--shadowColor);
	vertical-align: bottom;
  transition: .25s;
}
td:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* td[title="Lithium"]:hover::after {
  content: 'Lithium is a controversial element in the periodic table and has a song named after it';
  display: block;
  padding: 8px;
  /* width: 9em; */

/*  background: var(--darkcolor);
  text-align: left;
  font-size: .8rem;
  font-family: 'segoe ui', PT Sans Narrow;
  color: var(--lightcolor);
  border: var(--lightcolor) 1px solid;
  position: absolute;
  text-shadow: none;
  top: 0;
  left: 100%;
} 
*/

:is(td, .info) a {
	display: block;
	color:inherit;
	text-decoration: none;
}

td > a:hover {
	background: #fee;
}
td div:first-child,
td div:last-child {
	font-family: 'Antonio-Regular', 'PT Sans Narrow', georgia, arial, sans-serif;
	font-size: clamp(0.3125rem, -0.125rem + 0.9333vw, 0.75rem);
	letter-spacing: .5px;
	text-shadow:none;
	
}
td div:first-child {
	/* font-size: .8vw; */
	font-weight: bold;
	text-align: right;
	margin: -1px 3px -8px 0;
}
td div:last-child {
	color:#eadeb5;
	background-color: var(--darkcolor);
	margin-top: 0em; 
	margin-bottom: 0;
	padding: .4em 0;
}

.blank {
	visibility:hidden;
}

tr.blank > td {
	height: 1.5em;
}

td::first-line {
	display: none;
	}

td.nonelement, td.gap {
	border:none;
	background-color: transparent;
	vertical-align: middle;
	text-shadow:none;
	font-family: 'PT Sans Narrow', arial, serif;
}
td.nonelement {
	text-align: right;
	color:#eee;
	font-size: 1.4vw;
	padding-right: .2vw;
	box-shadow: none;
}

td.gap {
	font-size: .8vw;
	color:#eee;
	box-shadow: none;

}
td.heading-cell {
	border: none;
	box-shadow: none;
	vertical-align: top;

	& :hover {
		transform: scale(1);
	}
}
h1 {
	/* margin: 0 auto 2em auto; */
	margin-top: 0.5em;
	font-family: 'Antonio-Regular', georgia, impact;
	font-size: 4vw;
	font-size: clamp(3.125rem, 1.25rem + 4vw, 5rem);
	font-weight: normal;
	color: var(--lightcolor);
	/* color: transparent; */
	text-shadow: 
		.025vw .025vw var(--darkcolor), 
		.05vw .05vw var(--darkcolor), 
		.10vw .10vw var(--darkcolor), 
		-.05vw -.05vw var(--darkcolor), 
		.15vw .15vw var(--darkcolor),
		.17vw .17vw var(--darkcolor),
		.25vw .25vw var(--darkcolor);
	text-align: center;
	line-height: .9;
	letter-spacing: -.05vw;

	& span {
		font-size: clamp(1.875rem, 0.625rem + 2.6667vw, 3.125rem);
		text-transform: capitalize;
	}

	/* The text shadows block the background. Might be able to fix with an ::after */
	/* background-image: repeating-linear-gradient(45deg,  var(--dark-red) 0 2px, var(--lightcolor) 2px 12px);
	background-clip: text; */
}


footer {
	border-top: solid 1px #ddd;
	padding: 1em;
	background-color: #e4e4e4;
}

footer ul {
	margin: 0; padding: 0;
	list-style: none;
}
footer ul li {
	display: inline-block;
	padding: 0 .4em;
	border-right: solid 1px #666;
	font-family: 'PT Sans Narrow', 'Antonio-Regular', serif;
}
footer > ul > li:first-child {
	text-transform: uppercase;
	border: none;
}

footer ul li a {
	text-decoration: none;
}
footer ul li a:hover {
	background-color: #ccc;
	outline:solid 7px #fe73e2
}


.info {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: min(100vw, 850px);
	padding: 2em;
	transform: translateX(-100%);
	background-color: var(--darkcolor);
	color: var(--lightcolor);
	opacity: 0.96;
	font-family: 'pt sans narrow';
	font-size: 1.5em;
	transition: 0.5s;
}
.info::before { /* generates the heading from the id */
	content: attr(id);
	font-family: 'antonio-regular';
	font-size: 5rem;
	text-transform: capitalize;
	display: block;
}
button.close_info {
	border: none;
	background-color: transparent;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
button.close_info a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--lightcolor);
	font-size: 3.5em;
	border: solid 3px var(--lightcolor);
	border-radius: 10px;
	line-height: 1.3em;
	width: 1.2em;
	height: 1.2em;
}
#hydrogen:target {
	transform: translateX(50%);
}
#lithium:target {
	transform: translateX(50%);
}


/* @media screen and (orientation:portrait) {
    .container {
		transform: rotate(90deg);
	}
} */

@media (max-width: 730px) {
	td div:last-of-type {
		display: none;
	}
}